<div id="message">
  {{message}}
</div>

<div id="form-container">
  <div class="form">
    {{textarea id='createTitle' value=newTitle placeholder="Title"}}
    {{textarea id='createBody' value= newBody placeholder="Type a note here"}}
  </div>
  <button {{action "createNote"}}>Save Note</button>
</div>
Your notes:
<div id="list-container">
  {{#each note in model}}
  <p contentEditable class="item">
    <h3>{{note.title}}</h3>
    <p>
      {{note.body}}
    </p>
    <button {{action "deleteNote" note}}>Delete Note</button>
    <!-- <button {{action "updateNote" note}}>Update Note</button> -->
  </p>
  {{/each}}
</div>

{{#if isValid}}
Valid!
{{else}}
Not valid
{{/if}}
